/* add img-icons here */

.services-list__item {
    &--photo::before{
        background-image: url(https://i.ibb.co/7gPSnZz/ALARM.png);
    }

    &--design::before{
        background-image: url(https://i.ibb.co/tBvQg1w/LINE-GRAPH.png);
    }

    &--creative::before{
        background-image: url(https://i.ibb.co/XDc6nmY/COMPUTER-OK.png);
    }

    &--seo::before{
        background-image: url(https://i.ibb.co/TBbPRQg/BOOK-2.png);
    }

    &--html::before{
        background-image: url(https://i.ibb.co/9Hg7J92/HOME.png);
    }

    &--digital::before{
        background-image: url(https://i.ibb.co/vvKMRqd/IMAGE.png);
    }
}