/* FONTS */
@font-face {
    font-family: "RobotoBlack"; 
    src: url(../fonts/Roboto-Black.ttf); 
}
@font-face {
    font-family: "RobotoLight"; 
    src: url(../fonts/Roboto-Light.ttf); 
}
@font-face {
    font-family: "OpensansBold"; 
    src: url(../fonts/OpenSans-Bold.ttf); 
}
@font-face {
    font-family: "Opensans"; 
    src: url(../fonts/OpenSans-Regular.ttf); 
}
@font-face {
    font-family: "OpensansSemibold"; 
    src: url(../fonts/OpenSans-SemiBold.ttf); 
}
@font-face {
    font-family: "OpensansLight"; 
    src: url(../fonts/OpenSans-Light.ttf); 
}

/* * {
    outline: 1px solid green;
} */
body {
    padding-top: 65px;
    box-sizing: border-box;
}

.wrapper {
    width: 1110px;
    margin: 0 auto;
    margin-bottom: 114px;
    font-family: "RobotoBlack", serif;
    font-size: 14px;
}

main.wrapper{
    margin-bottom: 80px;
}

ul {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}
/* HEADER */
.logo {
    text-transform: uppercase;
}

.logo a{
    text-decoration: none;
    float: left;
    color: #555252;
    font-size: 30px;
    font-family: "RobotoLight";
}

.logo a::first-letter{
    color: #6cbb9c;
    font-family: "RobotoBlack";
}

/* NAVIGATION */
.navigation ul {
    margin: 0;
    padding: 0;
    float: right;
}

.navigation li {
    padding-left: 15px;
    padding-top: 10px;
    float: left;
    text-transform: uppercase;
}

.navigation a {
    text-decoration: none;
    color: #555252;
}

.nav-item:not(:last-child){
    padding-right: 15px;
}

.nav-item a:hover,
.nav-item a:focus{
    color: #6cbb9c;
    cursor: pointer;
}

/* MAIN */
h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 80px;
    font-size: 48px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
}

h2::after {
    display: block;
    margin: 34px auto 94px;
    content: "";
    width: 164px;
    height: 7px;
    background-color: rgb(108, 187, 156);
}

/* PRODUCTS SECTION */
.products {
    margin-bottom: 104px;
}

.products ul {
    margin: 0;
    padding: 0;
    font-size: 0px;
}

.products li {
    margin: 0;
    padding: 0;
    float: left;
    width: 256px;
    min-height: 324px;
    background-color: #353535;
} 

.products li:not(:nth-child(4n)){
    margin-right: 28px;
}

.products li:not(:nth-child(n +4)){
    margin-bottom: 30px;
}

.products img{
    max-height: 284px;
    width: 100%;
}

.description {
    width: 100%;
}

.description p{
    padding-left: 14px;
}

.product-name,
.price{
    margin: 0;
    padding-top: 10px;
    min-height: 30px;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
}

.product-name{
    float: left;
}

.price{
    float: right;
    padding-left: 12px;
    padding-right: 12px;
    background-color: rgba(255, 255, 255, .44);
}

.products li:hover{
    background-color: #6cbb9c;
}

/* NEWS */

.news ul {
    margin: 0;
    padding: 0;
    font-size: 0px;
}

.news li {
    float: left;
    width: 350px;
}

.news li:not(:last-child) {
    margin-right: 26px;
}

.news img {
    margin-bottom: 10px;    
}

.news h3{
    margin: 0;
    padding: 0;
    margin-bottom: 28px;
    font-family: "OpensansSemibold";
    font-size: 18px;
    line-height: 26px;
}

.news h3::after{
    display: block;
    padding-top: 16px;
    content: "";
    width: 136px;
    border-bottom: 3px solid rgb(108, 187, 156);
}

.news p{
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    font-family: "Opensans";
    font-size: 14px;
    line-height: 26px;
}

.news a{
    display: block;
    padding-top: 18px;
    width: 160px;
    min-height: 36px;
    text-align: center;
    font-family: "OpensansLight";
    font-size: 14px;
    border-radius: 3px;
    background-color: rgb(127, 197, 171);
    color: #fff;
}

.news a:hover,
.news a:focus{
    background-color: #353535;
    color: rgb(127, 197, 171);
}